:host {
}

.header {
  padding: 0 20%;
  display: block;
}

.body {
  margin: 0 13%;
  padding-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
