<header class="header">
  
  <div>
    <h1>
      {{ title }}
    </h1>
  </div>
  
  <span class="clear"></span>
</header>

<div>
<section class="sect body">
  <div class="column left2">
    <app-feature-box
      class="trans box"
      onclick="window.location.href='/carpet'"      
      title="Carpet"
      content="Carpet clearance list"
    ></app-feature-box>
  </div>
  <div class="column middle2">
    <app-feature-box
      class="trans box"
      onclick="window.location.href='/laminate'"
      title="Wood and Laminate"
      content="Wood and Laminate clearance list"
    ></app-feature-box>
  </div>
  <div class="column right2">
    <app-feature-box
      class="trans box"
      onclick="window.location.href='/vinyl'"
      title="Vinyl"
      content="Vinyl clearance list"
    ></app-feature-box>
  </div>
  <div class="column right2">
    <app-feature-box
      class="trans box"
      onclick="window.location.href='/contract'"
      title="Contract"
      content="Contract clearance list"
    ></app-feature-box>
  </div>
</section>
</div>