<header class="header">
  <div class="column left">
    <img width="300" alt="Gladiator Bot Logo"
         src="assets/Logo.png">
  </div>
  <div class="column middle">
    <h1>
      {{ title }}
    </h1>
    <p class="paracent">Located on the official TurtleCoin Discord server, Gladiator Bot is a player versus player bot where fighters are awarded TRTL coins for each win and during a weekly competition.</p>
    <input type="button" onclick="window.location.href='http://turtlecoin.lol'" class="button trans" value="TurtleCoin"><br>
    <input type="button" onclick="window.location.href='http://gladiator-bot.infinityws.co.uk/stats'" class="button trans" value="Stats">
  </div>
  <div class="column right">
    <img width="300" alt="TurtleCoin Logo"
         src="assets/trtlLogo.png">
  </div>
  <span class="clear"></span>
</header>

<div>
<section class="sect body">
  <div class="column left2">
    <app-feature-box
      class="trans box"
      imageUrl="assets/Crypto_Icon_13.png"
      title="Colosseum"
      content="Gladiator Bot controls battles in the Colosseum channel located within Turtle Coin’s official discord.
  Players can use a variety of commands to taunt each other and challenge opponents to a fight to the death!"
    ></app-feature-box>
  </div>
  <div class="column middle2">
    <app-feature-box
      class="trans box"
      imageUrl="assets/Crypto_Icon_15.png"
      title="JAVASCRIPT"
      content="Coded in Javascript, Gladiator Bot is completely open source and can be found on Github at www.github.com/rynemgar/gladiator-bot"
    ></app-feature-box>
  </div>
  <div class="column right2">
    <app-feature-box
      class="trans box"
      imageUrl="assets/Crypto_Icon_14.png"
      title="TOURNAMENTS"
      content="Where’s the fun with no reward?
          Keep track of your scores with a running total of your overall wins and losses and earn TRTL by fighting and climbing the weekly leaderboard.
          Earn 10,000 TRTL for being in first."
    ></app-feature-box>
  </div>
</section>
</div>

<br><br>

<div class="sect body">
<input type="button"
       onclick="window.location.href='http://chat.turtlecoin.lol'" class="button2"
       value="FIGHT FOR YOUR LIFE">
</div>

<section class="sect bodywide">
  <div class="column twothird bg">
    <h1 class="head">Bot features</h1>
    <p class="para">Gladiator Bot was designed first off with some fun functions to use in chat. For example, typing
      *shoot @user will randomly select one in 6 phrases to respond with. Were you out of arrows, or did you get your
      target right between the legs? OOOH…!

      <br><br>Since he has grown, more and more features have been added. Most recently, the addition of potions for use
      during battle.
      Low on HP, pop a potion and regain 30hp. Gladiator Bot hands out rewards like candy so we needed a way to top his
      coffers back up! Therefore, each potion is purchasable for 150 TRTL.</p>
    </div><br><br>
  <div class="column third">
    <img class="image imagemargin" src="assets/crypto_illustration_19.png">
  </div>
</section>

<section class="sect body parallax">
    <div class="column paracent"><h1 class="head">How Combat Works</h1>
    <p class="para">Built as a turn based battle, fighters take turns to batter their opponent’s life from their body
      using 3 commands.<br>
      *head – has a 10% chance of inflicting 50 damage.<br>
      *body – has a 33% chance of inflicting 30 damage.<br>
      *legs – has an 80% chance of inflicting 10 damage.<br>
      <br>
      Reduce your opponent to 0hp with a combination of strategy and luck!<br>
      But don’t forget your saving grace.<br>
      *potion – recovers 30hp, provided you have purchased your potion!  You also have a 5% chance of a critical heal, healing you for a staggering 100hp! Don't go in without supplies though! Better keep
      track of your *stock</p>
  </div>
</section>

<section>
  <div class="imgcnt">
  <img src="assets/crypto_illustration_02.png">
  </div>
</section>


<section class="bodyleft">
  <div class="column twothird">
    <h1 class="head">Stats and what they will do</h1>
    <p class="para">Stats are currently in build phase.  This means that at present, although you level up by fighting, your level is just for bragging rights!
       However, in future, stats will have meaning and will be able to be upgraded by tipping Gladiator Bot to train you.</p>
       <br><br>
    <input type="button"
           onclick="window.location.href='http://gladiator-bot.infinityws.co.uk/stats'" class="button2"
           value="Check your stats">
  </div>
  </section>
  <section class="bodywide">
  <div class="column third">
      <app-feature-box
        class="trans"
        imageUrl="assets/Crypto_Icon_14.png"
        title="HIT POINTS"
        content="To begin, you will always start with 100hp.
        Whilst this is a relatively normal starting amount.  It can be reduced quickly by a lucky opponent.  Two headshots and you’re done… No matter how unlikely that is!"
      ></app-feature-box>
    </div>
</section>
<section class="body">
    <div class="column left2">
        <app-feature-box
          class="trans aleft"
          imageUrl="assets/Crypto_Icon_14.png"
          title="DEFENSE"
          content="Defence provides a reduction in damage sustained from incoming attacks, making your opponent work that much harder to kill you!"
        ></app-feature-box>
      </div>
      <div class="column middle2">
        <app-feature-box
          class="trans aleft"
          imageUrl="assets/Crypto_Icon_14.png"
          title="TURTLE POWER"
          content="Otherwise known as Strength!  This increases the damage done by your attacks!"
        ></app-feature-box>
      </div>
      <div class="column right2">
        <app-feature-box
          class="trans aleft"
          imageUrl="assets/Crypto_Icon_14.png"
          title="AGILITY"
          content="Agility increases the chance of you hitting your opponent.  It's a small increase but one that adds up!"
        ></app-feature-box>
      </div>
</section>