:host {
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}

.header {
  padding: 0 13%;
  display: block;
}

.body {
  margin: 0 13%;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.close {
  margin: 0 20%;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

trans {
  transform: all;
  transition-duration: 1s;
}

.image {
  height: 600px;
}

.sect {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.paracent {
  text-align: center;
  line-height: 1.6;
}