<head>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="body">
    <h1 class="header">Carpet Clearance</h1>
    <h2 class="header">
      The Mega Day carpet clearance list
    </h2>
    

</div>

    <ngx-datatable
      class="dark"
      [rows]="carpet"
      [loadingIndicator]="loadingIndicator"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="40"
      [footerHeight]="40"
      [rowHeight]="'auto'"
      [reorderable]="reorderable">

      <ngx-datatable-column name="ID" prop="ID"></ngx-datatable-column>
      <ngx-datatable-column name="Range" prop="Range"></ngx-datatable-column>
      <ngx-datatable-column name="Colour" prop="Colour"></ngx-datatable-column>
      <ngx-datatable-column name="Size" prop="Size"></ngx-datatable-column>
      <ngx-datatable-column name="Cost" prop="Cost"></ngx-datatable-column>
      <ngx-datatable-column name="Value" prop="Value"></ngx-datatable-column>
      <ngx-datatable-column name="Order" prop="action">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <!-- Trigger/Open the Modal -->
          <button onclick="document.getElementById('id01').style.display='block'" class="btn">Order Item</button>

          <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-bottom w3-card-4">
              <header class="w3-container w3-teal"> 
                <span onclick="document.getElementById('id01').style.display='none'" 
                class="w3-button w3-display-topright">&times;</span>
                <h2 class="body">Order this item</h2>
              </header>
              <div class="modal">
                <p class="form">To order this range, please enter your customer account number, delivery address and Rep ID.</p>
                <form class="form" method="post" action="http://gbotapi.herokuapp.com/">
                  Rep ID:<br>
                  <input id="rep" type="text" name="Rep ID"><br>
                  Account Number:<br>
                  <input id="account" type="text" name="Account Number"><br>
                  Address Line:<br>
                  <input id="address" type="text" name="Delivery Line"><br><br>
                  <input class="btn2" type="submit" value="Send">
                  <input class="btn2" type="reset" value="Reset">
                  </form>
                  
              </div>
              <footer class="w3-container w3-teal">
              </footer>
            </div>
          </div>          
        </ng-template>
      </ngx-datatable-column>
     
    </ngx-datatable>
   