<head>
</head>

<div class="body">
    <img class="pointer" width="728" height ="90" alt="TurtleCoin"
       src="assets\Riv3HR8Pn955VTTCBAgQIAAAQIECBAgQIAAAQIECBQCbkQqQAwJECBAgAABAgQIECBAgAABAgQqBKRLFVimEiBAgAABAgQIECBAg.png"
         onclick="window.location.href='http://blog.turtlecoin.lol'">
   </div>

<div class="body">
    <h1 class="header">Leaderboard</h1>
    <h2 class="header">
      Top ten most fierce gladiators!
    </h2>
    <p class="doublefont"><br>
      Each week, this leaderboard is reset to zero.  Every week, everyone has the same chance of reaching the top!  The more you play, the more you win.  The more you win, the more you earn.  The more you earn, the happier you'll be!</p>
    <ngx-datatable
      class="dark"
      [rows]="leaderboard"
      [loadingIndicator]="loadingIndicator"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="40"
      [summaryRow]="true"
      [footerHeight]="40"
      [rowHeight]="'auto'"
      [reorderable]="reorderable">
    </ngx-datatable><br>
    <div class="body">
      <img class="pointer" width="728" height ="90" alt="TurtleCoin"
         src="assets\NEWER_banner.png"
           onclick="window.location.href='http://turtlenode.online'">
     </div><br>
    <h2>The top three highest wins will be awarded each week!</h2>
    <p class="doublefont">The prizes awarded each week are from a total of 20,000TRTL.<br>
      1st place - 10,000TRTL,<br>
      2nd place - 6,500TRTL,<br>
      3rd place - 3,500TRTL<br>
      <br>
      Prizes are still awarded for every win for a total of 0.01% of Turtacus's entire balance. This means that the more he holds, the more you win.<br>
    </p>
  </div>
  <div class="body">
    <img class="pointer" width="728" height ="90" alt="TurtleCoin"
       src="https://static1.freebitco.in/banners/728x90-3.png"
         onclick="window.location.href='https://freebitco.in/?r=13508075'">
   </div><br>